.basket {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.deleteButton {
    background-color: rgb(244, 90, 193);
    border: none;
    border-radius: 10px;
    color: rgb(81, 81, 81);

    &:active {
        background-color: rgb(105, 105, 105);
    }

    &:focus {
        background-color: rgb(105, 105, 105);
    }

    &:focus-visible {
        background-color: rgb(105, 105, 105);
    }

    &:hover {
        background-color: rgb(105, 105, 105);
    }

}