@import url(./reset.css);
@import "../node_modules/bootstrap/scss/bootstrap";

.header {
    background: linear-gradient(to right, rgb(236, 86, 198), purple);
    display: flex;
    justify-content: space-around;
    padding: 50px 0;

    &__logo {
        text-decoration: none;
        text-transform: uppercase;
        color: aliceblue;
        font-size: 35px;
        font-weight: bold;

        &:hover {
            color: purple;
        }
    }

    &__input {
        width: 600px;
        border-radius: 20px;
        border: none;
        padding: 0 20px;

        &:focus-visible {
            outline: none;
        }
    }

    &__basket {
        border: none;
        border-radius: 10px;
    }
}

.wrapper{
    margin: 0 20px;
}

.slider {
    padding: 20px 0;
}

img, svg {
    border-radius: 20px;
}

.carousel-indicators {
    gap: 20px;
    margin-bottom: 2rem;
}

.carousel-indicators [data-bs-target]{
    border: 2px solid palevioletred;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

//карточки товара
.bestsellers {

    &__title {
        padding: 20px 0;
        font-size: 25px;
        font-weight: bold;
    }

    &__cards-container {
        display: flex;
    }
    
    &__card-container {
        color:rgb(81, 81, 81);  
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        flex-direction: column;
        margin-top: 25px;
        width: 200px;
        height: 250px;
        //background-color: plum;
        border-radius: 15px;        
    }

    &__card-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__card-view {
        background-color: aliceblue;
        margin-top: 100px;
        border: none;
        border-radius: 10px;
        color:rgb(81, 81, 81);        
    }

    &__buy {
        background-color: aliceblue;
        border: none;
        border-radius: 10px;
        color:rgb(81, 81, 81);   
    }

    &__card-info {
        padding-top: 15px;
    }

    &__card-price {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }

    &__old-price {
        text-decoration: line-through;

    }
}

//корзина
.container-basket {
    display: flex;
    justify-content: space-between;
}

.container-summa {
    font-weight: bold;
    text-align: end;
    padding-top: 40px;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.btn-primary {
    background-color: #5b045f;

    &:active {
        background-color: rgb(122, 29, 99);
        border: none;  
        box-shadow: none;   
    }

    &:focus {
        background-color: rgb(122, 29, 99);
        border: none;
        box-shadow:none;
    }

    &:focus-visible {
        background-color: rgb(122, 29, 99);
        border: none;
    }

    &:hover {
        background-color: rgb(122, 29, 99);
        border: none;
    }
    
}    

.btn-check:focus + .btn, .btn:focus {
    box-shadow: none;
}


